body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* Buttons */
#addPostBtn {
  margin-bottom:15px;
}

.myStyle {
  position:relative;
  top:-40px;
}

#post-container {
  border:1px solid #eeeeee;
  position: relative;
}

#post-img {
  width:100%; 
  margin-bottom:20px;
}

    #content-text {
      font-size:32px;
      height:150px;
      overflow:hidden;
    }

/* Blog posts */

#post-container {
    margin-top: 20px;
}

.post-img {
	float:left;
	margin-right:10px;
}

h1#post-title:hover {
}

.post-content {
	text-align:center;
	border:1px solid red;
	padding:10px;
	height:182px;
}

.bg-primary{
    background-color: #868e96 !important;
}

/* Navbar */
#sideNav {
  background-color: #868e96 !important;
}

#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
    font-size: 1.1em;
}

/* Glyphicon */
.glyphicon {
  font-size:40px;
  margin-top:10px;
  margin-right:10px;
  color:#666666;
}

.post-glyphicons {
  position: absolute;
  top:0px;
  right:0px;
}