div(id='#{post._id}Modal').modal
  // Modal content
  .modal-content
    .modal-header
      button(id='#{post._id}Close') ×
      h2 Modal Header
    .modal-body
      p Are you sure you want to delete post?
    .modal-footer
      a(href="api/blog/posts/#{post._id}/delete")                          
        button Yes
      button(id='#{post._id}Cancel') Cancel
 
