// The Modal
#myModal.modal
  // Modal content
  .modal-content
    .modal-header
      span.close ×
      h2 Modal Header
    .modal-body
      p Submitted Post!
    .modal-footer
      h3 Modal Footer