extends layout

block content
  img(src='#{imageUrl}' style='width:70%; height: auto;  margin:10px; ')
  form(action='/blog/posts/#{post._id}/edit', method='POST', role='form', enctype='multipart/form-data')
    input(type='file', name='postimage')
    h1
      input#edit-title(type='text', name='post_title', value='#{post.title}')
    p
      textarea#edit-content(type='text', name='post_content', rows='8', cols='70')
        | #{post.content}
    input(type='submit', action='/blog',  name='submit', value='Update Post').login100-form-btn#updatePostBtn
